@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  display: flex;
  position: relative;
}

.container .background-mobile {
  display: none;
}

.container .card-display .card-front {
  position: absolute;
  top: 120px;
  left: 140px;
  width: fit-content;
}

.container .card-display .card-front .card-front-image {
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container .card-display .card-front .card-front-logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container .card-display .card-front .card-front-number-display {
  position: absolute;
  top: 140px;
  left: 30px;
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}

.container .card-display .card-front .card-front-name-display {
  position: absolute;
  top: 190px;
  left: 30px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.container .card-display .card-front .card-front-expirymonth-display {
  position: absolute;
  top: 190px;
  right: 60px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.container .card-display .card-front .card-front-expiryyear-display {
  position: absolute;
  top: 190px;
  right: 30px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.container .card-display .card-back {
  position: absolute;
  top: 400px;
  left: 240px;
  width: fit-content;
}

.container .card-display .card-back .card-back-image {
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container .card-display .card-back .card-back-cvc-display {
  position: absolute;
  top: 110px;
  right: 60px;
  font-weight: 300;
  color: #fff;
}

form {
  position: absolute;
  top: 200px;
  right: 250px;
  min-height: 400px;
}

.success {
  text-align: center;
  display: none;
}

.hidden {
  display: none;
}

.success h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0px;
}

.success p {
  color: hsl(279, 6%, 55%);
}

.success button {
  margin-top: 20px;
}

form .form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 350px;
}

.form-container .input-field-expiry-cvc {
  display: flex;
  justify-content: space-between;
}

.form-container .input-field-expiry-cvc .input-field {
  width: 50%;
}

.form-container .input-field-expiry-cvc .input-field input {
  width: 30%;
}

.form-container .input-field-expiry-cvc .input-field:nth-child(2) {
  margin-left: 25px;
}

.form-container .input-field-expiry-cvc .input-field:nth-child(2) input {
  width: 50%;
}

form .form-container .input-field {
  margin-bottom: 15px;
}

.form-container .input-field label {
  display: block;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.form-container .input-field input {
  width: 100%;
  height: 35px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
}

.error-name,
.error-number,
.error-month,
.error-year,
.error-cvc {
  color: red;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

button {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background: hsl(278, 68%, 11%);
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .background-img {
    display: none;
  }

  .container {
    height: 100vh;
    overflow-x: hidden;
  }

  .container .background-mobile {
    display: block;
  }

  .container .card-display .card-front {
    position: absolute;
    top: 120px;
    left: 20px;
    width: fit-content;
    z-index: 5;
  }

  .container .card-display .card-front .card-front-image {
    width: 250px;
  }

  .container .card-display .card-front .card-front-logo {
    width: 50px;
    top: 20px;
    left: 20px;
  }

  .container .card-display .card-front .card-front-number-display {
    position: absolute;
    top: 80px;
    left: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .container .card-display .card-front .card-front-name-display {
    position: absolute;
    top: 105px;
    left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .container .card-display .card-front .card-front-expirymonth-display {
    position: absolute;
    top: 105px;
    right: 35px;
    color: #fff;
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .container .card-display .card-front .card-front-expiryyear-display {
    position: absolute;
    top: 105px;
    right: 20px;
    color: #fff;
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .container .card-display .card-back {
    position: absolute;
    top: 30px;
    left: 80px;
    width: fit-content;
  }

  .container .card-display .card-back .card-back-image {
    width: 250px;
  }

  .container .card-display .card-back .card-back-cvc-display {
    position: absolute;
    top: 60px;
    right: 35px;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
  }

  form {
    position: relative;
    height: 400px;
    width: 400px;
    top: 330px;
    right: 0;
    transform: translate(-102.5%, 0%);
  }

  form .form-container {
    width: 400px;
  }

  .form-container .input-field-expiry-cvc .input-field:nth-child(2) input {
    width: 100%;
  }

  form .success {
    position: relative;
    left: 0;
    transform: translate(-50%, 0%);
    width: 200px;
  }

  .success {
    text-align: center;
    display: none;
  }

  .hidden {
    display: none;
  }

  .success h1 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 0px;
  }

  .success p {
    color: hsl(279, 6%, 55%);
  }

  .success button {
    margin-top: 20px;
  }
}
